@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header{
    background-color: black;
    height: 60px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url(./school.jpg);

}

label{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

form{
    position: relative;
    margin-top: 50px;
    left:30%;
    width: 260px;
    height: 230px;
    grid-column: 1/2;
    background-color :rgba(140,132,215,0.7);
}

#formcontainer{
    position: absolute;
    transform: translateY(35%);
    left: 22%;
}

#tableContainer{
    grid-column: 2/-1;
    background-color: rgba(140,132,215,0.7);
    margin-top: 50px;
    width: 80%;
    height: 70%;
}

table{
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: rgba(61,61,61,1);
    border: 2px solid  rgba(190,190,190,1);
    border-collapse: collapse;
}

#btn{
  transform: translateX(700%);
}

th{
    background-color: rgba(31,31,31,1);
    padding:10px;
}

th , td {
    border: 2px solid rgba(190,190,190,1);
    font-family: 'Roboto', sans-serif;
}

h1{
margin-top: 0px;
transform: translateY(20%);
color: white;
font-family: 'Roboto', sans-serif;
text-align: center;
}

input{
    width: 80%;
    margin-bottom: 10px;
}

#submit{
    width: 85%;
    margin-top: 10px;
}

label{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: white;
    right: 12px;
    width: 100%;
}
select{
    width: 85%;
}